* {
    margin: 0;
    padding: 0;
  }
  
  .navbar {
    display: flex;
    align-items: center;
    /* justify-content: left; */
    position: sticky;
    top: 0;
    z-index: 1;
  }
  
  .background {
    background: black;
    background-blend-mode: darken;
    background-size: cover;
    background-position: center 120px;
  }
  
  .nav-list {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: left;
  }
  
  .logo {
    display: flex;
    justify-content:left;
    align-items: center;
  }
  
  .logo img {
    max-width: 100%;
    height: auto;
    width: 350px;
    border-radius: 50px;
  }
  
  .rightnav {
    width: 30%;
    text-align: right;
  }
  .btn {
    width: auto;
    height: auto;
    padding: 8px 20px;
    margin: 7px 0;
    border: 2px solid white;
    border-radius: 8px;
    background: none;
    color: white;
    cursor: pointer;
  }
  
  .btn:hover {
    background-color: rgb(22, 22, 22);
  }
  
  .btn-sm {
    padding: 6px 10px;
    vertical-align: middle;
  }
  
  .text-footer {
    text-align: center;
    padding: 30px 0;
    font-family: "Ubuntu", sans-serif;
    display: flex;
    justify-content: center;
    color: white;
  }
  
  .firstsection {
    background-image: url("../images/bg-ab.jpg");
    background-size: cover;
    height:120vh;
  }
  
  .box-main {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    max-width: 80%;
    margin: auto;
    height: 60%;
  }
  
  .firsthalf {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
