* {
  margin: 0;
  padding: 0;
}

.heading h1 {
  color: white;
  padding: 10px;
}

.heading {
  font-family: "Hurricane", cursive;
  font-family: "Julius Sans One", sans-serif;
  text-align: center;
  color: black;
  text-decoration: none;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: stretch;
  position: sticky;
  top: 0;
  cursor: pointer;
}

.background {
  background: black;
  background-blend-mode: darken;
  background-size: cover;
}

.nav-list {
  width: 70%;
  display: flex;
  align-items: center;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo img {
  max-width: 100%;
  height: auto;
  width: 150px;
  border-radius: 50px;
}

.nav-list li {
  list-style: none;
  padding: 26px 30px;
}

.nav-list li a {
  text-decoration: none;
  color: white;
}

.nav-list li a:hover {
  color: grey;
}

.rightnav {
  width: 30%;
  text-align: right;
}

.btn {
  width: auto;
  height: auto;
  padding: 8px 20px;
  margin: 7px 0;
  border: 2px solid white;
  border-radius: 8px;
  background: none;
  color: white;
  cursor: pointer;
}

.btn-sm {
  background-color: black;
}

.btn:hover {
  background-color: rgba(22, 22, 22, 0.555);
}

.text-footer {
  text-align: center;
  padding: 30px 0;
  font-family: "Ubuntu", sans-serif;
  display: flex;
  justify-content: center;
  color: white;
}

.firstsection {
  background-image: url("../images/swiss-alps-cold-mountains-silhouette-5k-ds-2880x1800.jpg");
  background-size: cover;
  height: 550px;
}

.box-main {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  max-width: 80%;
  margin: auto;
  height: 80%;
}

.firsthalf {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.inputbox {
  color: #030303;
  width: 100%;
  padding: 0.5rem;
  border: none;
  border-bottom: 1.5px solid #ccc;
  margin-bottom: 1rem;
  border-radius: 0.3rem;
  font-family: "Roboto", sans-serif;
  color: #615a5a;
  font-size: 1.1rem;
  font-weight: 500;
  outline: none;
}

.expcvv {
  display: flex;
  justify-content: space-between;
  padding-top: 0.6rem;
}

.expcvv_text {
  padding-right: 1rem;
}
.expcvv_text2 {
  padding: 0 1rem;
}
