body
{
    display: flex;
    justify-content: space-around;
    background-image: url('../images/MtFuji-GettyImages-959111140.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.project
{
    display: flex;
    justify-content: space-around;
    background: white;
    opacity: 0.8;
    margin-top: 200px;
    /* padding: 4vh 10%; */
    padding-top: 65px;
    padding-bottom: 65px;
    padding-left: 20px;
    padding-right: 20px;
   
}


.form h1
{
    margin-left: 140px;
    font-family: 'Hurricane', cursive;
    font-family: 'Julius Sans One', sans-serif;
}

.form-group
{
    padding: 10px;
}

.form-group a
{
    font-family: sans-serif;
    text-decoration: none;
    color:black;
}

.form input
{
    height: 2em;
    width: 25em;
    border: none;
    border-bottom: 2px solid black;
    
}

button
{
    margin-left: 140px;
    border-radius: 8px;
    width:100px;
    /*background-color: #04CA50; */
    transition-duration: 0.4s;
}

.button:hover
{
    background-color: #04CA50;
    color: white;
}

#wp
{
    color: red;
    display: none;
}

/* input[type=email]
{
    
} */
