* {
    margin: 0;
    padding: 0;
  }
  
  .navbar {
    display: flex;
    align-items: center;
    /* justify-content: left; */
    position: sticky;
    top: 0;
    z-index: 1;
  }
  
  .background {
    background: black;
    background-blend-mode: darken;
    background-size: cover;
    background-position: center 120px;
  }
  
  .nav-list {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: left;
  }
  
  .logo {
    display: flex;
    justify-content:left;
    align-items: center;
  }
  
  .logo img {
    max-width: 100%;
    height: auto;
    width: 350px;
    border-radius: 50px;
  }
  
  .rightnav {
    width: 30%;
    text-align: right;
  }
  .btn {
    width: auto;
    height: auto;
    padding: 8px 20px;
    margin: 7px 0;
    border: 2px solid white;
    border-radius: 8px;
    background: none;
    color: white;
    cursor: pointer;
  }
  
  .btn:hover {
    background-color: rgb(22, 22, 22);
  }
  
  .btn-sm {
    padding: 6px 10px;
    vertical-align: middle;
  }
  
  .text-footer {
    text-align: center;
    padding: 30px 0;
    font-family: "Ubuntu", sans-serif;
    display: flex;
    justify-content: center;
    color: white;
  }
  
  .input-group
    {
        display: flex;
        justify-content: center;
    }
    
    .form-outline
    {
        display: flex;
        justify-content: center;
        height: 40px;
    }
    .form-control
    {
        display: flex;
    }
    
    .input
    {
        padding:20px;
    }
    .input-group button{
      float: left;
    width: 10%;
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 10px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
  }
  .input-group button :hover{
      color: #000000;
  }
  input[type=text] {
    width: 500px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
  }
  
  /* When the input field gets focus, change its width to 100% */
  input[type=text]:focus {
    width: 600px;
  }
  
  .firstsection {
    background-image: url("../images/bg-ab.jpg");
    background-size: cover;
    height:100vh;
  }
  
  .box-main {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    max-width: 80%;
    margin: auto;
    height: 80%;
  }
  
  .firsthalf {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .container
  {
      display: flex;
      height: auto;
      width: 800px;
      margin-top: 60px;
      margin-left: 30px;
      background: rgba(255, 255, 255, 0.537);
  }
  
  .inside img
  {
      padding: 20px;
      width: 200px;
      height: 200px;
  }
  
  label
  {
      color: black;
      font-size: 25px;
      font-family: 'Kanit', sans-serif;
  }
  
  .items
  {
      display: flex;
  }
  
  .details
  {
      font-family: 'Old Standard TT', serif;
      padding:20px;
      font-size: 30px;
  }
  
  .input
  {
      padding:20px;
  }
  #form1
  {
      height: 50px;
      width: 500px;
  }
  
  .input-group
  {
      display: flex;
      justify-content: center;
  }
  
  .form-outline
  {
      display: flex;
      justify-content: center;
  }
  .form-control
  {
      display: flex;
  }