* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url("../images/bg-ab.jpg");
  background-size: cover;
  height: 100vh;
}
.navbar {
  display: flex;
  align-items: center;
  /* justify-content: left; */
  position: sticky;
  top: 0;
  z-index: 1;
}

.background {
  background: black;
  background-blend-mode: darken;
  background-size: cover;
  background-position: center 120px;
}

.nav-list {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: left;
}

.logo {
  display: flex;
  justify-content: left;
  align-items: center;
}

.logo img {
  max-width: 100%;
  height: auto;
  width: 350px;
  border-radius: 50px;
}

.rightnav {
  width: 30%;
  text-align: right;
}

.input-group
{
    display: flex;
    justify-content: center;
}

.form-outline
{
    display: flex;
    justify-content: center;
    height: 40px;
}
.form-control
{
    display: flex;
}

.input
{
    padding:20px;
}

.btn {
  width: auto;
  height: auto;
  padding: 8px 20px;
  margin: 7px 0;
  border: 2px solid white;
  border-radius: 8px;
  background: none;
  color: white;
  cursor: pointer;
}

.btn:hover {
  background-color: rgb(22, 22, 22);
}

.btn-sm {
  padding: 6px 10px;
  vertical-align: middle;
}

.input-group button{
    float: left;
  width: 10%;
  padding: 10px;
  background: #2196F3;
  color: white;
  font-size: 10px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
}
.input-group button :hover{
    color: #000000;
}


/* .firstsection {
  background-image: url("../images/bg-user.jpg");
  background-size: cover;
  height: 120vh;
} */
/* .box-main {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  max-width: 80%;
  margin: auto;
  height: auto;
}

.firsthalf {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
} */

.middle-part {
  padding: 20px;
}

.hotels {
  padding: 60px;
  margin-left: 90px;
}

.hotel-item {
  display: flex;
}

.text h3 {
  font-family: "Hurricane", cursive;
  font-family: "Julius Sans One", sans-serif;
  text-align: center;
  color:blue;
  text-decoration:none;
  font-weight:bold;
  font-size:x-large;
 
}
a{
	text-decoration:none;
}

.image img {
  height: 290px;
  width: 290px;
  padding: 20px;
  border-radius: 20%;
}

.text-footer {
  text-align: center;
  padding: 30px 0;
  font-family: "Ubuntu", sans-serif;
  display: flex;
  justify-content: center;
  color: white;
}

input[type=text] {
    width: 500px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
  }
  
  /* When the input field gets focus, change its width to 100% */
  input[type=text]:focus {
    width: 600px;
  }