<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>HotelManagementSystem</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>CustRegServ</display-name>
    <servlet-name>CustRegServ</servlet-name>
    <servlet-class>com.controller.CustRegServ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustRegServ</servlet-name>
    <url-pattern>/CustRegServ</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HotelRegServ</display-name>
    <servlet-name>HotelRegServ</servlet-name>
    <servlet-class>com.controller.HotelRegServ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HotelRegServ</servlet-name>
    <url-pattern>/HotelRegServ</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServ</display-name>
    <servlet-name>LoginServ</servlet-name>
    <servlet-class>com.controller.LoginServ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServ</servlet-name>
    <url-pattern>/LoginServ</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ForgotServ</display-name>
    <servlet-name>ForgotServ</servlet-name>
    <servlet-class>com.controller.ForgotServ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForgotServ</servlet-name>
    <url-pattern>/ForgotServ</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangePass</display-name>
    <servlet-name>ChangePass</servlet-name>
    <servlet-class>com.dao.ChangePass</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangePass</servlet-name>
    <url-pattern>/ChangePass</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Change</display-name>
    <servlet-name>Change</servlet-name>
    <servlet-class>com.dao.Change</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Change</servlet-name>
    <url-pattern>/Change</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BookingServ</display-name>
    <servlet-name>BookingServ</servlet-name>
    <servlet-class>com.controller.BookingServ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookingServ</servlet-name>
    <url-pattern>/BookingServ</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OtpEmailServ</display-name>
    <servlet-name>OtpEmailServ</servlet-name>
    <servlet-class>com.controller.OtpEmailServ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OtpEmailServ</servlet-name>
    <url-pattern>/OtpEmailServ</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>testing</display-name>
    <servlet-name>testing</servlet-name>
    <servlet-class>com.bean.testing</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>testing</servlet-name>
    <url-pattern>/testing</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UsrBookServ</display-name>
    <servlet-name>UsrBookServ</servlet-name>
    <servlet-class>com.controller.UsrBookServ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UsrBookServ</servlet-name>
    <url-pattern>/UsrBookServ</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchServ</display-name>
    <servlet-name>SearchServ</servlet-name>
    <servlet-class>com.controller.SearchServ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchServ</servlet-name>
    <url-pattern>/SearchServ</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>pdfServ</display-name>
    <servlet-name>pdfServ</servlet-name>
    <servlet-class>com.controller.pdfServ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>pdfServ</servlet-name>
    <url-pattern>/pdfServ</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>pdserv</display-name>
    <servlet-name>pdserv</servlet-name>
    <servlet-class>com.controller.pdserv</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>pdserv</servlet-name>
    <url-pattern>/pdserv</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>hoteldetailserv</display-name>
    <servlet-name>hoteldetailserv</servlet-name>
    <servlet-class>com.controller.hoteldetailserv</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>hoteldetailserv</servlet-name>
    <url-pattern>/hoteldetailserv</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>contact</display-name>
    <servlet-name>contact</servlet-name>
    <servlet-class>com.controller.contact</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>contact</servlet-name>
    <url-pattern>/contact</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>logout</display-name>
    <servlet-name>logout</servlet-name>
    <servlet-class>com.controller.logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>logout</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
</web-app>